{% extends 'inventory/base.html' %} {% load static %}
{% block title %}Home{% endblock %}

{% block content %}
  <h2>Lorem Ipsum</h2>
  <hr>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie rhoncus justo, et congue ex cursus nec.
    Praesent fringilla nulla ut tellus dapibus, id lacinia velit rutrum. Vestibulum ac commodo nisi. Integer fringilla
    sodales tempor. Etiam tincidunt ipsum id diam egestas, ut luctus augue auctor. Cras sollicitudin gravida urna, sed
    rhoncus ligula tempus non. Vestibulum placerat purus ut feugiat cursus.

    Praesent tincidunt tortor vitae tempor tempus. Etiam cursus hendrerit nisi, vitae feugiat nulla sollicitudin id.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean lacinia dolor
    vel neque tempus efficitur. Vestibulum scelerisque ac erat sed cursus. Nam non pharetra lorem. Suspendisse rutrum
    volutpat augue eu commodo. Donec dictum nisi nec nisi interdum pretium. Nam tellus tortor, pulvinar in convallis
    vel, blandit at justo. Ut tincidunt consequat convallis. Suspendisse a ultrices lorem. Cras imperdiet est aliquet
    justo bibendum porttitor.

    Curabitur non elit ac neque tincidunt malesuada. Curabitur nec laoreet ante. Donec non risus efficitur, vestibulum
    tellus ut, auctor risus. Donec molestie, arcu at eleifend porta, metus quam interdum ipsum, vel auctor tortor sapien
    ac enim. Nam a justo dolor. Proin mi purus, bibendum eu porttitor in, gravida at metus. Nunc eget sapien erat.
    Curabitur ex neque, molestie eu porta nec, ultrices non dui.

    Vivamus non posuere ipsum, eu lacinia felis. Mauris maximus justo id nisi vulputate lacinia sit amet et lacus.
    Mauris porttitor, magna ut congue blandit, neque eros volutpat ante, eget finibus ligula leo ac felis. Aenean vitae
    felis ac neque aliquam sagittis at a nisi. Aliquam risus nunc, hendrerit et porttitor blandit, fermentum et orci.
    Pellentesque vitae eros consectetur, vehicula neque eget, egestas metus. Nulla turpis risus, facilisis rutrum
    finibus sed, tristique ac eros. Maecenas bibendum tempor sollicitudin. Nulla in feugiat lectus. Nulla facilisi. Nunc
    vel hendrerit nulla. In a scelerisque turpis.

    Ut semper tempor ante in varius. Nunc nec ligula sed dolor lacinia ullamcorper sed a metus. Vestibulum nibh odio,
    laoreet a eros nec, pharetra sodales augue. Fusce suscipit semper suscipit. Integer tincidunt posuere suscipit.
    Fusce ornare ut nulla sed varius. Proin quis commodo risus. Curabitur quam sem, sollicitudin at accumsan tincidunt,
    dictum ac urna. Nam sit amet ullamcorper metus. Fusce id rhoncus augue. Pellentesque commodo tincidunt leo vel
    ultrices. Sed ac ligula feugiat, mollis arcu ut, euismod magna. Vivamus dictum, enim eu egestas scelerisque, felis
    erat blandit tortor, a molestie risus nibh sed magna. Etiam ultricies dui id venenatis auctor.
  </p>
{% endblock %}
